* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    outline: none;
    text-decoration: none;

}

img {
    border: none;
}

body {
    height: 100%;

}

header {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 4px #b8bcbe;
    box-shadow: 0 0 5px 4px #b8bcbe;
}

.container {
    max-width: 1140px;
    margin: auto;
}

header a img.logo {
    float: left;
    margin-top: 28px;
}

header .container:after {
    clear: both;
    display: block;
    content: '';
}

header .container .head-buttons {
    margin-top: 40px;
    float: right;
}

header .container .head-buttons a {
    line-height: 12px;
    margin-right: 45px;
    color: #777777;
    text-transform: uppercase;
    font-weight: bold;
    /*position: relative;*/
}

header .container .head-buttons a:hover {
    color: #000000;
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background-color: black;*/
    /*transition: all .2s ease;*/
    /*-webkit-transition: all .2s ease;*/
    /*height: 1px;*/
    /*width: 20px;*/
    /*left: 19px;*/
}

header .container .head-buttons a:nth-last-child(1) {
    margin-right: 0;
}

/*карусель с первого дз*/

/*.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{*/
/*background-color: white;*/
/*width: 15px;*/
/*height: 15px;*/
/*margin: 0 16px;*/
/*border-radius: 10px;*/
/*border: solid 4px transparent;*/

/*}*/

/*.owl-nav{*/
/*display: none;*/
/*}*/
/*.owl-dots{*/
/*position: absolute;*/
/*bottom: 56px;*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/

/*.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.active{*/
/*border: solid 4px black;*/
/*}*/
/*.owl-carousel {*/
/*position: relative;*/
/*z-index: 0;*/
/*}*/
/*section.owl-carousel div img{*/
/*width: 100%;*/
/*}*/
/*section.owl-carousel h1{*/
/*position: absolute;*/
/*z-index: 1;*/
/*bottom: 331px;*/
/*left: 50%;*/
/*transform: translate(-50%, 0);*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*color: white;*/
/*background-color: black;*/
/*line-height: 56px;*/
/*font-size: 33px;*/
/*padding: 0 70px;*/
/*}*/

/*section.owl-carousel h3 {*/
/*position: absolute;*/
/*z-index: 1;*/
/*bottom: 282px;*/
/*left: 50%;*/
/*transform: translate(-50%, 0);*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*color: black;*/
/*font-size: 13px;*/
/*}*/

section.first-section {
    position: relative;
    background-image: url('../images/banner-1.png');
    background-size: cover;
    height: 350px;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    position: absolute;
    color: white;
    background-color: black;
    line-height: 56px;
    font-size: 33px;
    padding: 0 70px;
    margin-top: 115px;
}

.first-section h2 {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 214px;
    position: absolute;
}

.second-section {
    min-height: 453px;
    padding-top: 86px;
}

.second-section:after {
    clear: both;
    display: block;
    content: '';
}

.second-section .info {
    float: left;
}

.second-section .info span {
    font-weight: bold;
    margin-right: 8px;

}

.second-section .info h2 {
    text-transform: uppercase;
    font-size: 22px;

    margin-bottom: 18px;
}

.second-section .info h3 {
    color: #626362;
    margin-bottom: 64px;
    position: relative;
}

.second-section .info h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    /*-webkit-transition: all .2s ease;*/
    /*-o-transition: all .2s ease;*/
    transition: all .2s ease;
    height: 1px;
    width: 60px;
    top: 36px;
}

.second-section .info p:nth-child(3) {
    margin-bottom: 37px;
}

.second-section .info p:nth-child(4) {
    margin-bottom: 37px;
}

.second-section .info p:nth-child(5) {
    margin-bottom: 13px;
}

.second-section .forma {
    float: right;
    max-width: 749px;
}

.second-section .forma form input:nth-child(1) {
    width: 357px;
    line-height: 40px;
    padding-left: 9px;
    border: solid 1px #ebebeb;
    border-left: solid 3px #afafaf;
    margin-right: 31px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 32px;

}

.second-section .forma form input:nth-child(2) {
    width: 357px;
    line-height: 40px;
    padding-left: 12px;
    border: solid 1px #ebebeb;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.second-section .forma form textarea {
    width: 100%;
    resize: none;
    height: 150px;
    box-sizing: border-box;
    padding: 11px 11px;
    border: solid 1px #ebebeb;
    margin-bottom: 29px;
}

.second-section .forma form button {
    line-height: 39px;
    text-transform: uppercase;
    font-size: 11px;
    background-color: black;
    padding: 14px 57px;
    color: #ffffff;
    border: none;
}

.map {
    margin-bottom: 71px;
}

.Our-Values {
    margin: auto;
    margin-bottom: 58px;
}
.Our-Values{
    margin-bottom: 62px;
}

.Our-Values h2 {
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 45px;
    text-align: center;
}

.Our-Values p {
    text-align: center;
    line-height: 47px;
    font-size: 10px;
}

.owl-carousel image{
    width: 354px;
    /*height: 249px;*/
}

.owl-carousel div {
margin-right: 34px;
}
.owl-carousel h2 {
    margin-top: 27px;
    margin-bottom: 44px;
    text-transform: uppercase;
    font-size: 13px;
}
.owl-carousel p{
    line-height: 49px;
    font-size: 10px;
}




footer {
    padding-top: 64px;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 4px #b8bcbe;
    box-shadow: 0 0 5px 4px #b8bcbe;
}

footer .logo-footer {
    text-align: center;
    margin-bottom: 44px;
}

footer .social {
    text-align: center;
    line-height: 61px;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
}

footer .social a {
    margin-right: 57px;
    color: #777777;
    font-size: 13px;
}

footer .footer-bot {
    line-height: 94px;
    text-align: center;
}

footer .footer-bot p {
    text-transform: uppercase;
    font-size: 10px;
    color: #9c9c9c;
}
footer .footer-bot p span {
    color: black;
}